$mdi-font-path: '~@mdi/font/fonts';
@import '~@mdi/font/scss/materialdesignicons';
@import "~bulma/sass/utilities/_all";
@import "~bulma-prefers-dark/sass/utilities/_all";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


// Set your colors
$primary: #7957d5;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
                (
                        "white": (
                                $white,
                                $black,
                        ),
                        "black": (
                                $black,
                                $white,
                        ),
                        "light": (
                                $light,
                                $light-invert,
                        ),
                        "dark": (
                                $dark,
                                $dark-invert,
                        ),
                        "primary": (
                                $primary,
                                $primary-invert,
                                $primary-light,
                                $primary-dark,
                        ),
                        "link": (
                                $link,
                                $link-invert,
                                $link-light,
                                $link-dark,
                        ),
                        "info": (
                                $info,
                                $info-invert,
                                $info-light,
                                $info-dark,
                        ),
                        "success": (
                                $success,
                                $success-invert,
                                $success-light,
                                $success-dark,
                        ),
                        "warning": (
                                $warning,
                                $warning-invert,
                                $warning-light,
                                $warning-dark,
                        ),
                        "danger": (
                                $danger,
                                $danger-invert,
                                $danger-light,
                                $danger-dark,
                        ),
                ),
                $custom-colors
);

// Links
$link: $primary;
$link-active: $primary;
$link-active-dark: $primary;
$link-dark: $link;
$link-invert: $primary-invert;
$link-invert-dark: $link-invert;
$link-focus-border: $primary;

$navbar-item-active-color-dark: $primary;
$modal-card-body-background-color-dark: #282828;
$modal-background-background-color-dark: rgba(10, 10, 10, 0.86);

html,
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#app {
  font-family: 'Roboto', sans-serif;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 1s, transform 1s;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
  transform: translateX(30%);
}

.page-fade-enter-active,
.page-fade-leave-active {
  transition: 0.4s;
  opacity: 1;
}

.page-fade-enter,
.page-fade-leave-to {
  opacity: 0;
}

.color-modal-body {
  max-height: 50vh;
}

.led {
  width: 12px;
  height: 12px;
  border-radius: 50px;
}


.leds-padding {
  padding: 1.25rem 2.25rem 1.25rem 2.25rem;
}

.notification.with-handle {
  padding: 1.25rem 2.25rem 1.25rem 2.25rem;

  .handle {
    position: absolute;
    padding: 0;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
  }
}


@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~bulma-prefers-dark";
